<nav class="navbar">
  <div class="navbar-left">
    <img src="{{ url_for('static', filename='images/web_icon.jpeg') }}" alt="Logo" class="logo">
    <span class="brand">My Forecast App</span>

    <ul class="navbar-menu">
      <li><a href="/about">About</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Predict </a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('monthly_predict_page') }}">Monthly Overview</a></li>
          <li><a href="{{ url_for('state_predict_page') }}">State Level Arrivals Prediction</a></li>
          <li><a href="{{ url_for('country_predict_page') }}">International Arrivals Prediction</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>